<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.PostgresPlusDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:postgresql://127.0.0.1:5432/certificates
        </property>

        <property name = "hibernate.connection.username">
            postgres
        </property>

        <property name = "hibernate.connection.password">
            1234
        </property>
        
        <property name="hibernate.connection.charsetEncoding">
            utf8
        </property>

        <mapping class="com.epam.esm.dao.model.giftcertificate.GiftCertificate"/>
        <mapping class="com.epam.esm.dao.model.tag.Tag"/>

    </session-factory>
</hibernate-configuration>